/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background {
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("../../../grafiki/woodchess.jpg");
}

.button-menu {
	-fx-border-color:  #ffffff;
	-fx-border-width: 2;
	-fx-background-color: #1d1d1d;
	-fx-font-family: "Segoe UI";
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
}

.button-menu:hover {
    -fx-background-color: #3a3a3a;
}

.button-menu:pressed, .button:default:hover:pressed {
 	-fx-background-color: #d8d8d8;
	-fx-text-fill: #1d1d1d;
 	-fx-border-color: #1d1d1d;
}

.exit-btn{
	-fx-background-image: url("../../../grafiki/exit.png");
	-fx-background-color: #A0A0A0;
}

.exit-btn:hover {
	-fx-border-color:  #d8d8d8;
	-fx-border-width: 2;
	-fx-background-color: #d8d8d8;
}

.exit-btn:pressed, .button:default:hover:pressed {
	-fx-background-image: url("../../../grafiki/exit.png");
	-fx-background-color: #a0a0a0;
	-fx-border-width: 2;
 	-fx-border-color: #1d1d1d;
}

.label {
	-fx-background-color: #1d1d1d;
	-fx-font-family: "Segoe UI";
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
}

.toggle-button {
	-fx-border-color:  #d8d8d8;
	-fx-border-width: 2;
	-fx-background-color: #1d1d1d;
	-fx-font-family: "Segoe UI";
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
}

.toggle-button:hover {
	-fx-background-color: #3a3a3a;
}

.toggle-button:selected {
	-fx-text-fill: #1d1d1d;
 	-fx-border-color: #1d1d1d;
 	-fx-background-color: #a0a0a0;
 	-fx-border-color: #1d1d1d;      
}

.slider {
	-fx-color: red;
}

.slider .track{
	-fx-background-color: #a0a0a0;
}

.slider .axis {
	-fx-tick-label-fill: red;
}

.table-view {
	-fx-background-color: #d8d8d8;
	-fx-border-width: 2;
 	-fx-border-color: #1d1d1d;
}

.split-pane:horizontal .split-pane-divider{
	-fx-background-color: #1d1d1d;
}

.split-pane:vertical .split-pane-divider{
	-fx-background-color: #1d1d1d;
}

.mini-board {
	-fx-border-width: 2;
	-fx-border-color: #1d1d1d;
}

.rectangle-white {
	-fx-fill: #FFFFFF;
	-fx-stroke: #000000;
	-fx-stroke-width: 0;
}

.rectangle-black {
	/*-fx-fill: linear-gradient(#000000 0%, #ff0000 25%, # 75%, #757575 100%);*/
	-fx-fill: #000000;
	-fx-stroke: #FFFFFF;
	-fx-stroke-width: 0;
}